@import '../style/mixins';
@import '../style/vars';

.board {
  position: relative;
}

%board__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.board__upper {
  @extend %board__box;
  height: 35vh;
}

.board__lower {
  @extend %board__box;
  height: 65vh;
}

.board__upper,
.board__lower {
  box-shadow: 0 0 10px 5px rgba(black, 0.4);
  position: relative;
  z-index: map-get($z-indexes, black-counter-box);

  &.board--white {
    background-color: white;
    z-index: map-get($z-indexes, white-counter-box);
    color: black;
  }
}

.board__counter {
  font-size: 80px;
}

.board__start-btn {
  @include big-button();
  position: absolute;
  top: 35vh;
  width: 100%;
  z-index: map-get($z-indexes, game-start-btn);

  .board--white + & {
    color: black;
  }
}

.board__life-btn {
  border: 1px solid white;
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  padding: 3px;

  .board--white & {
    border-color: black;
    background-color: white;
    color: black;
  }
}

.board__life-btn-icon {
  svg {
    width: 32px;
    height: 32px;
  }
  :global .root {
    fill: white;
  }
  .board--white & {
    :global .root {
      fill: black;
    }
  }
}

.board__game-over-btn {
  @include big-button();
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  line-height: 15vh;

  .board--white & {
    color: #000000;
  }
}
