@import '../style/mixins';
@import '../style/vars';

.board {
  position: relative;
}

.board__upper {
  height: 35vh;
}

.board__lower {
  height: 65vh;
}

.board__upper,
.board__lower {
  box-shadow: 0 0 10px 5px rgba(black, 0.4);
  position: relative;
  z-index: map-get($z-indexes, black-counter-box);

  &.board--white {
    background-color: white;
    z-index: map-get($z-indexes, white-counter-box);
    color: black;
  }
}

.board__counter {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 80px;
}

.board__start-btn {
  @include big-button();
  position: absolute;
  top: 35vh;
  width: 100%;
  z-index: map-get($z-indexes, game-start-btn);

  .board--white + & {
    color: black;
  }
}
