@import '../style/mixins';

.join {
  overflow: hidden; // Contain child margin-top
}

.join__boxes {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.join__box {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  margin: 5px;
  cursor: pointer;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

.join__back {
  @include big-button();
  margin-top: 100px;
  width: 100%;
}

.hidden-input {
  position: fixed;
  top: -100px;
  opacity: 0;
  width: 0;
  height: 0;
}
