.join-page {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.join-page__input {
  position: fixed;
  top: -100px;
  opacity: 0;
  width: 0;
  height: 0;
}

.join-page__box {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  margin: 5px;
  cursor: pointer;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}
